* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
}

#track {
  position: relative;
  height: 100%;
  width: 100%;
  padding-top: 100px;
}

.path {
  position: absolute;
  z-index: 2;
}

section {
  height: 100vh;
  /* border: 1px solid black; */
  position: relative;
}

#cloud {
  position: absolute;
  right:0;
  opacity: 0;
  height: 150px;
  z-index: 3;
  
}

.cloud-absolute {
  position: absolute;
  top:0;
  left:0;
}

.cloud-fixed {
  position: fixed;
  top:50%;
  left:50%;
  transform: translateX(-50%) translateY(-50%);
}


@media screen and (max-width: 800px) {
  #cloud {
    height: 50px;
  }
}

footer {
  height: 200px;
}